.slide-down {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.margin-right-4 {
  margin-right: 4px;
}

.red-gradient {
	background-image: -webkit-linear-gradient(left, #fe7a60, #fd5f60) !important;
	background-image: -moz-linear-gradient(left, #fe7a60, #fd5f60) !important;
	background-image: -o-linear-gradient(left, #fe7a60, #fd5f60) !important;
	background-image: linear-gradient(to right, #fe7a60, #fd5f60) !important;
}

.has-red-text {
	color: #fe7a60 !important;
}

.is-blue {
  color: #0288c7;
}

.is-weight-700 {
  font-weight: 700 !important;
}

.volley-hero {
	background-image: url('/static/images/volleyball-2.jpg') !important;
	background-size: cover;
}

.flex-container {
	max-width: 768px;
	display: flex;
	margin: auto;
	flex-direction: column;
}

.row-container {
	display: flex;
	flex-direction: row;
	height: 150px;
	max-height: 150px;
	justify-content: space-around;
	max-width: 768px;
	flex-wrap: wrap;
	margin: auto;
}

.logo {
	width: 100px;
	max-height: 100px;
	margin: 24px;
	filter: grayscale(100%);
}

.phone-container {
	margin-top: 120px;
	height: 350px;
	width: 430px;
	min-width: 430px;
	overflow: hidden;
}

.hero-text {
	padding: 48px 0;
}

.is-special {
	padding: 20px 60px 0px 60px;
	display: flex;
	flex-direction: row;
	align-items: space-around;
	justify-content: space-around;
}
